html
    head
        script(src="/static/javascript/blueprint.js")
        script.
            //- function snupEnComponent() {
            //-     console.log("Der trykkes!");
            //-     let dropdown = document.getElementById("dropdownC").value
            //-     let compArea = document.getElementById("compArea")
            //-     let antal = document.getElementById("antalC").value
            //-     let dropdownValue = JSON.parse(dropdown)
            //-     console.log(compArea);
            //-     compArea.innerHTML= dropdownValue.name + " "  + " " + antal  + '\n' + compArea.innerHTML

            //-     console.log(dropdown);
            //- }

            function snupEtBlueprint(){
                let dropdown = document.getElementById("blueprintDropDown").value
                let bluePrintArea = document.getElementById("blueprintArea")
                let antal = ducument.getElemnetById("antalB")
                let dropdownValue = JSON.parse(dropdown)
                console.log(" :)")
                bluePrintArea.innerHTML =  compArea.innerHTML= dropdownValue.name + " "  + " " + antal  + '\n' + bluePrintArea.innerHTML
            }

        style
            include ../styles/storage.css

        title Blueprints

    body
        form(action='/createBlueprint' method='post')
            h2 Opret blueprint

            label Navn
            br
            input(type='text' name='name1' style="width:100%" placeholder='Navn på blueprint')
            br
            br
            label Antal
            br
            input(type='text' name='amount1' style="width:100%" placeholder='Antal på lager')
            br
            br
            label Minimumsantal
            br
            input(type='text' name='storageMin2' style="width:100%" placeholder='Minimumsantal')
            br
            br
            label Vælg komponenter til blueprintet
            select(name="dropdownComp" style="width: 100%" )
                each component in components
                        option(value=component.id) #{component.name}
            br
            //- label Vælg andre blueprints til blueprintet
            //- select(name="dropdownBP" style="width: 100%" multiple)
            include selectBlueprint.pug
            button(id= "blueprintArea" type='submit' name='create') Opret blueprint