form(action='/component/createComponent' method='post')
    h2 Opret komponent
    label Navn
    br
    input(type='text' name='inputCompName' style="width:100%" placeholder='Navn på komponent')
    br
    br
    label Antal
    br
    input(type='text' name='inputCompAmount' style="width:100%" placeholder='Antal på lager')
    br
    br
    label Minimumsantal
    br
    input(type='text' name='inputCompMin' style="width:100%" placeholder='Minimumsantal')
    br
    br
    button(type='submit' name='create') Opret komponent
    br