
h2 Opret komponent
label Navn
br
input(type='text' id='createComponentNameID' style="width:100%" placeholder='Navn på komponent')
br
br
label Antal
br
input(type='text' id='createComponentAmountID' style="width:100%" placeholder='Antal på lager')
br
br
label Note
br
input(type='text' id='createComponentNoteID' style="width:100%" placeholder='Note')
br
br
button.submitButton(type='button' name='create' onclick='createComponent().then(location.reload())') Opret komponent
br
br