form(action='/component/createComponent' method='post')
    h2 Opret komponent
    label Navn
    br
    input(type='text' name='inputCompName' style="width:100%" placeholder='Navn på komponent')
    br
    br
    label Antal
    br
    input(type='text' name='inputCompAmount' style="width:100%" placeholder='Antal på lager')
    br
    br
    label Note
    br
    input(type='text' name='inputCompNote' style="width:100%" placeholder='Note')
    br
    br
    button(type='submit' name='create' onclick='disableButtons()') Opret komponent
    br