style
    include ../styles/storage.css
body
    form(action='/product/createProduct' method='post')
        h2 Opret produkt

        label Navn
        br
        input(type='text' name='inputProdName' style="width:100%" placeholder='Navn på produkt')
        br
        br
        label Antal
        br
        input(type='text' name='inputProdAmount' style="width:100%" placeholder='Antal på lager')
        br
        br
        label Note
        br
        input(type='text' name='inputProdNote' style="width:100%" placeholder='Note')
        br
        br

        label Tilføj blueprints til produktet
        select(name="dropdownBlueprint" style="width: 100%" multiple)
            each blueprint in blueprints
                    option(value=blueprint.id) #{blueprint.name}
        br
        br
        button(type='submit' name='create') Put antal på produkt