style
    include ../styles/storage.css
body
    form(action='/blueprint/createBlueprint' method='post')
        h2 Opret blueprint

        label Navn
        br
        input(type='text' name='inputBPName' style="width:100%" placeholder='Navn på blueprint')
        br
        br
        label Antal
        br
        input(type='text' name='inputBPAmount' style="width:100%" placeholder='Antal på lager')
        br
        br
        label Note
        br
        input(type='text' name='inputBPNote' style="width:100%" placeholder='Note')
        br
        br

        label Tilføj komponenter til blueprintet
        select(name="dropdownComp" style="width: 100%" multiple)
            each component in components
                    option(value=component.id) #{component.name}
        br
        br
        button.submitButton(type='submit' name='create' onclick='disableButtons()') Put antal på blueprint
        br
        br