form(action='/component/createComponent' method='post')
    h2 Opret komponent
    label Navn
    br
    input(type='text' name='name2' style="width:100%" placeholder='Navn på komponent')
    br
    br
    label Antal
    br
    input(type='text' name='amount2' style="width:100%" placeholder='Antal på lager')
    br
    br
    label Minimumsantal
    br
    input(type='text' name='storageMin2' style="width:100%" placeholder='Minimumsantal')
    br
    br
    button(type='submit' name='create') Opret komponent
    br
br