//-form(action='/' method='get')
-//
    h2 Slet et blueprint
    label Vælg et blueprint der skal slettes
    select(name="dropdownDeleteBlueprint" id='dropdownDeleteBlueprintID')
        each blueprint in blueprints
            option(value=blueprint._id) #{blueprint.name}
    br
    br
    button.submitButton(type='button' name='delete' onclick="deleteBlueprint().then(location.reload())") Slet valgte blueprint