form(action='/deleteComponent' method='post')
    label Vælg komponent for at slette den
    select(name="dropdownDelete" style="width: 100%")
        each component in components
            option(value=component.id) #{component.name}
    br
    br
    button(type='submit' name='delete') Slet komponent