h2 Slet komponent
label Vælg komponent til at slettes
br
select(name="dropdownDelete" id='dropDownDeleteID')
    each component in components
        option(value=component.id) #{component.name}
br
br
button.submitButton(type='submit' name='delete' onclick='deleteComponent().then(getComponents())') Slet komponent
br
br