//-form(action='/' method='get')
-//
    h2 Slet et blueprint
    label Vælg et blueprint der skal slettes
    select(name="dropdownDeleteBlueprint" id='dropdownDeleteBlueprintID' style="width")
        each blueprint in blueprints
            option(value=blueprint._id) #{blueprint.name}
    br
    br
    button(type='button' name='delete' onclick="deleteBlueprint()") Slet valgte blueprint