h2 BlueprintsTest
    div.test(id='test', style="overflow-y:scroll;height:400px; width:100%; background-color:white")
        each blueprint in blueprints
            label #{blueprint.name}
            br
            input(type='text' id=blueprint._id  placeholder='Antal')
            br
            br
