html
    head
        style
            include ../styles/storage.css
        title Lagerbeholdning
    body
        div.div1
            div.item1
                include blueprints.pug
            div.item2
                include createComp.pug
                include updateComp.pug
                include deleteComp.pug

                h2 Komponenter
                each component in components
                    p='Navn: '+ component.name +' Antal: '+ component.amount
                    br