form(action='/blueprint/updateBlueprint' method='post')
    h2 Opdater blueprint
    label Vælg blueprint til at opdateres
    select(name="dropdownBlueprints" id="blueprintSelector" onchange="pickBlueprint()" style="width: 100%")
        each blueprint in blueprints
            option(value=blueprint.id) #{blueprint.name}
    br
    br
    label Name
    br
    input(type='text' name='updatename' style="width:100%" placeholder='Nyt navn på blueprint')
    br
    br
    label Antal
    br
    input(type='text' name='updateamount' style="width:100%" placeholder='Nyt antal på lager')
    br
    br
    label Minimumsantal
    br
    input(type='text' name='updatemin' style="width:100%" placeholder='Nyt minimumsantal')
    br
    br
    label Komponenter
        div.components
            p Ingen komponenter på blueprintet
    br
    br
    button(type='submit' name='update') Opdater blueprint