form(action='/' method='get')
    h2 Opdater komponent
    label Vælg komponent til at opdateres
    select(name="dropdownComponents" id="componentSelector" onchange="pickComponent()" style="width: 100%")
        option(value="" disabled selected) Vælg et component
        each component in components
            option(value=component.id) #{component.name}
        option(value="" ) Test
    br
    br
    label Name
    br
    input(type='text' id='updateComponentNameID' name='updatename' style="width:100%" placeholder='Nyt navn på komponent')
    br
    br
    label Antal
    br
    input(type='text'  id='updateComponentAmountID' name='updateamount' style="width:100%" placeholder='Nyt antal på lager')
    br
    br
    label Minimumsantal
    br
    input(type='text' id='updateComponentStorageMinID' name='updatemin' style="width:100%" placeholder='Nyt minimumsantal')
    br
    br
    button(type='submit' name='update' onclick="updateProduct()") Opdater komponent
