/* CRUD collapsibles */
.collapsibleButton{
    display: block;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid black;
    outline: none;
    cursor: pointer;
    background: #00A685;
    color: #ffffff;
    text-align: left;
    font-size:1.2em;
    line-height: 34px;
    transition: background 0.2s;
}

/* Pil i højre side */
.collapsibleButton::after{
    content: '\25be';
    float: right;
    font-size:25px;
    transform: scale(1.5);
}

/* Når collapsible er sat til active (se public/javascript/component.js) */
.collapsibleButton--active{
    background: #008a6e;
}

/* Pil efter collapsible er sat til active */
.collapsibleButton--active::after{
    content: '\25b4';
    font-size:25px;
}

/* Styling til det der er 'indeni' collapsible */
.content{
    overflow: hidden;
    max-height: 0;
    border: none;
    transition: max-height 0.2s;
    padding-left: 5px;
    padding-right: 5px;
    background: #E8E6D1;
}

#divComponents{
    overflow-y: auto;
    max-height: 0;
    border: none;
    transition: max-height 0.2s;
    padding-left: 5px;
    padding-right: 5px;
    background: #E8E6D1;
}

#divUpdateComponents {
    border: 2px solid black;
}

#divBlueprints{
    overflow-y: auto;
    max-height: 0;
    border: none;
    transition: max-height 0.2s;
    padding-left: 5px;
    padding-right: 5px;
    background: #E8E6D1;
}

#divUpdateBlueprints {
    border: 2px solid black;
}
