body{
    background: #ffffff;
}

.headlineTop{
text-align: center;
}

/* Hele vores grid */
.div1 {
    display: grid;
    min-height: 95%;
    grid-template-columns: 50% auto;
    grid-template-rows: 1;
    border: 2px solid black;
    background-color:#777777;
}

/* Kolonne 1 i vores grid */
.item1{
    grid-column: 1;
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.item2{
    grid-column: 2;
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.data:hover {
    background-color: rgb(85, 85, 125);
}

.accordion {
    cursor: pointer;
    transition: 0.5s;
    outline: none;
    padding: 18px;
    width: 100%;
}

.accordion:after {
    content: '\002B';
    color: #555555;
    font-weight: bold;
}

.active:after{
    content: '\2212';
}

.hidden{
    background-color: #555555;
    display: none;
    overflow: hidden;
    padding: 0 18px;
}