table{
    font-size:0.65em;
    font-family: sans-serif;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tableHeader{
    border: 1px solid black;
}

.name:hover {
    background-color: #555555;
}

.headerName{
    border: 1px solid black;
    font-size: 25px;
    height: 37px;
}

.headerAmount{
    border: 1px solid black;
    font-size: 25px;
    height: 37px;
}

.amount{
    text-align: center;
    line-height: 34px;
    border-bottom: 1px solid black;
    /* margin-bottom: 100px; */
    width: 100%;
}

/* Start på lortet */
.name {
    cursor: pointer;
    outline: none;
    width: 100%;
    border: 1px solid black;
    text-align: center;
    line-height: 34px;
    background: #333333;
    border-bottom: none;
}

/* Pil i højre side */
.name::after {
    content: '\25be';
    font-size:25px;
    color: #000000;
    font-weight: bold;
    float: right;
    /* transform: scale(1.5); */
}

/* Når collapsible er sat til active (se public/javascript/component.js) */
.name--active {
    background: #555555;
    border-bottom: none;
}

/* Pil efter collapsible er sat til active */
.name--active::after{
    content: '\25b4';
    font-size:25px;
}

.contentT {
    border: none;
    margin: none;
    padding: none;
    background: #555555;
    /* display: none; */
}

.hiddenT{
    background: #555555;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-right: -68px;
    margin-bottom: -1px;

}